<!DOCTYPE html>
<html lang="en">
  {%load static%}

  <head>
    <meta charset="UTF-8" />
    <title>Start</title>
    <link rel="stylesheet" href="{%static 'style/start.css'%}" />
    <link rel="stylesheet" href="{%static 'style/bootstrap.min.css'%}" />
    <script src="{%static 'js\bootstrap.bundle.min.js'%}"></script>
  </head>
  <body>
    <div
      class="container center"
      style="height: 100vh; width: 100vw; justify-content: center"
    >
      <div class="card content mb-3" style="width: 90vh; font-size: 17px">
        <div class="card-header">
          <h2 class="card-title center">Rules</h2>
        </div>
        <div class="card-body text-right">
          <ul class="card-text">
            <li>
              There will be no access to the internet during the first round.
            </li>
            <li>
              Each team will be given 10 coding problems based on problem
              solving.
            </li>
            <li>
              The criteria for points will be the number of problems the team
              has got correct and the time taken for each.
            </li>
            <li>
              Each Problem consists of 400 points and every 3 mins they will
              lose 10 points.
            </li>
            <li>
              For the last 30 mins every correct solution will be awarded 100
              points.
            </li>
            <li>
              The results and points for each question can be seen in the main
              page.
            </li>
            <li>The team can attempt the problem any number of times</li>
            <li>
              The leaderboard with the total points will be displayed on the
              projector screen.
            </li>
            <li>
              Everyone will be logged out forcefully after 2hrs, and we advise
              the team members not to logout before 2 hrs is over.
            </li>
          </ul>
          <div class="center">
            <button class="btn btn-primary">
              <a href="/questions" class="custom-btn">Start</a>
            </button>
          </div>
        </div>
        <div class="card-footer center">2hrs</div>
      </div>
    </div>
    <script>
      let url = `ws://${window.location.host}/ws/socket-server/`;
      const socket = new WebSocket(url);
      socket.onmessage = (e) => {
        console.log(e.data);
      };
    </script>
  </body>
</html>
