<!DOCTYPE html>
<html lang="en">
  {%load static%}

  <head>
    <meta charset="UTF-8" />
    <title>Start</title>
    <link rel="stylesheet" href="{%static 'style/start.css'%}" />
    <link rel="stylesheet" href="{%static 'style/bootstrap.min.css'%}" />
    <script src="{%static 'js\bootstrap.bundle.min.js'%}"></script>
  </head>
  <body>
    <div
      class="container center"
      style="height: 100vh; width: 100vw; justify-content: center"
    >
      <div class="card content mb-3" style="width: 40vh">
        <div class="card-header">
          <h2 class="card-title center">Rules</h2>
        </div>
        <div class="card-body text-right">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusantium dignissimos distinctio illo laboriosam minima nobis
            numquam odio porro quae, voluptates?
          </p>
          <button class="btn btn-primary center">
            <a href="/questions" class="custom-btn">Start</a>
          </button>
        </div>
        <div class="card-footer center">2hrs</div>
      </div>
    </div>
  </body>
</html>
