<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="POST">
      {% csrf_token %}
      <h2>Question No: {{qno}}</h2>
      <h2>UserName: {{username}}</h2>
      <div class="ans-div">
        Asnwer:
        <p class="ans">{{answer}}</p>
      </div>
      <h3>Time Submitted:{{time}}</h3>
      {{form}}
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
