* {
  transition: all 0.25s ease-out;
}

.username {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin-top: 50px;
}

#user-el,
#pass-el {
  height: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.13);
  box-shadow: none;
  font-size: 16px;
  color: white;
  padding-left: 10px;
  font-family: "Montserrat", serif;
  border-radius: 10px;
  background-color: #2e2e2e;
  width: 400px;
}
#label-el {
  color: #787777;
}
.form-floating > label::after {
  background-color: transparent !important;
  color: #787777 !important;
}

.messages {
  list-style-type: none;
  padding-left: 10px;
}
.error {
  color: rgb(151, 149, 149);
}
p.signMsg {
  color: rgb(151, 149, 149);
  text-align: center;
  font-size: 18px;
}
.inputs {
  display: flex;
  justify-content: center;
  align-content: center;
}
.glitch {
  color: white;
  font-size: 24px;
  text-align: center;
}
.button-52 {
  font-weight: 500;
  letter-spacing: 3px;
  padding: 13px 20px 13px;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  background-color: rgba(242, 242, 242, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 18px;
  font-size: 22px;
  border-radius: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.button-52:after {
  content: "";
  background-color: #1e1f22ff;
  width: 100%;
  border-radius: 10px;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 40px 13px;
  }
}
.lhs {
  /* background-color: #2d2d2d; */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.rhs {
  background-color: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-custom {
  width: 100%;
  margin: 0;
}
.cont {
  overflow: hidden;
}
.login {
  /* disp */
}
