.time-p {
  color: white;
}
#prob-btn {
  margin-left: 20px;
  font-weight: 700;
}
.logout {
  /* display: none !important; */
}
nav {
  font-family: "Trebuchet MS", sans-serif;
}
.nav-cus {
  display: inline;
}
#inline-ul {
  display: inline;
  margin-right: 5px;
  padding: 0px 0px;
}
#btns-cus {
  padding: 4px 10px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #686868 #424242;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #4d4a4f;
}

*::-webkit-scrollbar-thumb {
  background-color: #1e1f22;
  border-radius: 30px;
  border: 3px solid #ffffff;
}
#msgbox {
  width: 300px;
  display: inline;
}
#chatbox {
  display: inline;
  width: fit-content;
  position: fixed;
  bottom: 20px;
  background-color: white;
}

#msg-icon:hover {
  #msg-img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
  }
}

.Messages {
  padding: 10px;
  text-wrap: wrap;
}
.userLogged {
  position: relative;
  color: white;
  font-weight: 700;
  border: 1px solid white;
  padding: 10px;
  top: 1px;
  margin-left: 10px;
  margin-right: 10px;
  /* margin-top: 5px; */
  border-radius: 5px;
}
