body {
  overflow: hidden;
}
.container-cos {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  /* position: relative;
  left: 250px; */
  /* justify-content: start; */
  min-height: 100vh;
  align-items: center;
}
td {
  /*border-top: 1px solid lightgray;*/
  border-bottom: 1px solid lightgray;
  background-color: none;
  margin-right: 0;
  padding: 0;
}

.table-el {
  /*border: 1px solid rgba(131, 129, 129, 0.18);*/
  border: none;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  height: 70vh;
  width: 70%;
  color: rgb(255, 255, 255);
  text-decoration: none;

  padding: 20px;
}
#table-width {
  width: 75vh;
}
.links {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 50px;
  /* position: relative; */
  /* top: 10px; */
  font-family: "Trebuchet MS", Verdana, sans-serif;
  /* font-weight: bold; */
}

#head-q {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  height: 5vh;
  padding-left: 60px;
  border: none;
}
#head-res {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  height: 5vh;
  /*padding-left: 50px;*/
  border: none;
}
.res,
.pts {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  height: 3vh;
  /*padding-top: 10px;*/
  display: flex;
  justify-content: center;
}
.ques,
.result {
  border: none;
}
.head-con {
  display: flex;
  justify-content: center;
}
.result {
  align-content: center;
}
.next {
  visibility: hidden;
}
#border-bottom {
  border-bottom: white solid 1px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #686868 #424242;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #4d4a4f;
}

*::-webkit-scrollbar-thumb {
  background-color: #1e1f22;
  border-radius: 30px;
  border: 3px solid #ffffff;
}
