<!DOCTYPE html>
<html lang="en">
  {% load static%}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'style/navbar.css'%}" />
    <link rel="stylesheet" href="{%static 'style/bootstrap.min.css'%}" />
    <script src="{%static 'js\bootstrap.bundle.min.js'%}"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark justify-content-between py-2 px-3">
      <!-- Navbar content -->
      <span class="navbar-brand mb-0 h1" href="/questions/">
        <img
          src="{%static 'imgs/logo.svg'%}"
          width="30"
          height="28"
          class="d-inline-block align-top"
          alt=""
        />
        Bhavans Hackathon
        <a href="/questions/" class="">
          <button
            class="btn btn-outline-light my-2 my-sm-0"
            id="prob-btn"
            type="submit"
          >
            Problem List
          </button>
        </a>
      </span>

      <h2 class="time-p position-absolute top-50 start-50 translate-middle">
        <span id="hrs"></span><span id="mins"></span><span id="secs"></span>
      </h2>
      <div class="logout-container">
        <span>
          <button
            class="btn btn-outline-light"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            <img src="{%static 'imgs\message-square.svg'%}" />
          </button>

          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel"
          >
            <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">Share</h5>
              <button
                type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <div class="Messages">Messages:</div>
              <span class="form-inline my-lg-0" id="chatbox">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Code Link"
                  aria-label="Search"
                  id="msgbox"
                />
                <button
                  class="btn btn-outline-success my-sm-0"
                  id="msg-btn"
                  type="submit"
                >
                  Send
                </button>
              </span>
            </div>
          </div>
        </span>
        <a href="{% url 'logout' %}">
          <button
            class="btn btn-outline-light mx-2 my-sm-0"
            id="prob-btn"
            type="submit"
          >
            Logout
          </button>
        </a>
      </div>
    </nav>
    <script src="{%static 'js/timer.js'%}"></script>
    <script>
      $(document).ready(function () {
        $("#msg-btn").click(function () {
          let msg = $("#msgbox").val();
          $("#msgbox").val("");
          $.ajax({
            type: "POST",
            url: "{% url 'sendmsg' %}",
            data: {
              msg: msg,
              csrfmiddlewaretoken: "{{csrf_token}}",
            },
            success: function (response) {
              // console.log(response);
            },
            error: function (response) {
              console.log("An Error Occured ");
            },
          });
        });
      });
      setInterval(function () {
        $.ajax({
          type: "GET",
          url: "{% url 'getmsg' %}",
          success: function (response) {
            $(".Messages").html("");
            let msgs = "";
            for (let i = 0; i < response.messages.length; i++) {
              if (response.messages[i]["message"].includes("http")) {
                msgs +=
                  "<a href='" +
                  response.messages[i]["message"] +
                  "'>" +
                  response.messages[i]["message"] +
                  "</a>" +
                  "<hr>";
              } else {
                msgs +=
                  "<div class='msg'>" +
                  response.messages[i]["message"] +
                  "</div>" +
                  "<hr>";
              }
            }
            $(".Messages").html(msgs);
          },
          error: function (response) {
            console.log("An Error Occured ");
          },
        });
      }, 1000);
    </script>
  </body>
</html>
